* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  background-image: url("../imgs/beautiful-pink-color-gradient-background-free-vector.jpg"); 
  background-size: cover;      
  background-position: center;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
}

h1 {
    margin: auto;
    color: white;
    font-weight: bold;
    padding: 20px;
    animation: scaling 1s forwards linear alternate infinite;
    max-width: 350px;
    font-size: 25px;
}

.content {
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content img {
    max-width: 300px;
    margin: 20px 20px;
    animation: move-up-and-down 1s forwards linear alternate infinite;
}

.fardaPhoto {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 0;
    transform: translate(-50%, -50%)
}

video {
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px #dededc;
    width: 350px;
}

.end {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background-color: black;
    z-index: 3;
    position: absolute;
    top: -100%;
    animation: move-down 3s 70s linear forwards alternate;
}

/* Animations section */

@keyframes scaling {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }

}

@keyframes move-up-and-down {

    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-40px);
    }

}

@keyframes move-down {

    0% {
            top: -100%;
    }

    100% {
           top: 0;
    }

}